.leftAside {
    width: 210px;
}

.listItem {
    font-size: 16px;
    border-bottom: 1px solid #dfe1e5;

    &:hover .itemLink {
        color: #71973c;
    }

    .itemLink {
        color: #59606b;
        line-height: 50px;
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 25px;
            height: 25px;
            margin-right: 23px;
        }
    }
}

// -----------------------------------------------------

// ---------------- Блок рекомендуемых компаний --------

.aboutCompany {
    display: flex;
    width: 100%;
    margin-bottom: 17px;
    overflow: hidden;

    .aboutLeft {
        margin-right: 10px;
        width: 80px;

        a {
            display: inline-block;
            width: 80px;
            height: 80px;
            max-width: 80px;
            max-height: 80px;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    .aboutRight {
        width: 60%;

        h4 {
            color: #1c2534;
            font-size: 16px;
            letter-spacing: -1px;
            margin-bottom: 2px;
            margin-top: 0px;
            overflow: hidden;
            white-space: nowrap;
        }
        span {
            display: block;
            margin-bottom: 2px;
            font-size: 14px;
            color: rgb(124, 134, 149);
        }
        a {
            font-size: 11px;
            color: #1c2534;
            font-weight: 600;

            &:hover {
                color: #71973c;
            }
        }
    }
}

// ---------------------------------------------

// -------- Футер -------

.sideFooter {
    color: #b7bfcd;
    font-size: 12px;
    padding-top: 9px;
    border-top: 1px solid #dfe1e5;

    span {
        display: block;
        line-height: 28px;
    }

    span a {
        color: #b7bfcd;
        margin-right: 17px;

        &:hover {
            color: #71973c;
        }
    }
}
