.rightAside {
    width: 214px;

    .wrapR {
        border-bottom: 1px solid #dfe1e5;
        padding-bottom: 3px;
    }
}

.itemLink {
    margin-bottom: 5px;

    a {
        max-width: 175px;
        display: block;
        font-size: 15px;
        color: #1c2534;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #71973c;
        }
    }
}

.mediaItem {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    overflow: hidden;

    .itemLeft {
        margin-right: 10px;
        width: 80px;

        a {
            display: inline-block;
            width: 80px;
            height: 80px;
            max-width: 80px;
            max-height: 80px;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    .itemRight {
        width: 60%;

        span {
            display: block;
            margin-bottom: 4px;
            font-size: 14px;
            color: rgb(124, 134, 149);
        }
        a {
            font-size: 11px;
            color: #1c2534;
            font-weight: 600;

            &:hover {
                color: #71973c;
            }
        }
    }
}
