@import '~normalize.css/normalize.css';
@import './assets/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf';

* {
    box-sizing: border-box;
    outline-style: none;
}

body {
    min-width: 970px;
    max-width: 1440px;
    font-family: sans-serif;
    font-size: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    word-break: break-word;
}
